CompileFlags:
  Remove: [
    -fno-allow-store-data-races,
    -fno-ipa-cp-clone,
    -fno-partial-inlining,
    -fconserve-stack,
    -mno-global-merge,
    -fno-stack-protector,
    -Wno-frame-address,
    -Wno-format-security,
    -Wno-unused-but-set-variable,
    -Wno-unused-const-variable,
    -Wno-address-of-packed-member,
    -Wno-initializer-overrides,
    -Wno-missing-field-initializers,
    -Wno-pointer-sign,
    -Wno-unused-variable,
    -Wno-sign-compare,
    -Wno-type-limits,
    -Wno-unused-parameter,
    -Wno-maybe-uninitialized,
    -Wno-unused-function,
    -Wno-strict-aliasing,
    -Wno-error,
    -Wno-int-to-pointer-cast,
    -Wno-pointer-to-int-cast,
    -Wno-cast-function-type,
    -Wno-format-truncation,
    -Wno-stringop-truncation,
    -Wno-stringop-overflow,
    -Wno-array-bounds,
    -Wno-restrict,
    -Wno-missing-prototypes,
    -Wno-missing-declarations,
    -Wno-old-style-declaration,
    -Wno-implicit-function-declaration,
    -Wno-implicit-int,
    -Wno-return-type,
    -Wno-unused-label,
    -Wno-missing-braces,
    -Wno-missing-include-dirs,
    -Wno-trigraphs,
    -Wno-deprecated-declarations,
    -Wno-nonnull,
    -Wno-format,
    -Wno-error=implicit-function-declaration,
    -Wno-error=implicit-int,
    -Wno-error=return-type,
    -Wno-error=unused-label,
    -Wno-error=missing-braces,
    -Wno-error=missing-include-dirs,
    -Wno-error=trigraphs,
    -Wno-error=deprecated-declarations,
    -Wno-error=nonnull,
    -Wno-error=format,
    -mabi=lp64,
    -mlittle-endian,
    -mgeneral-regs-only,
    -mbranch-protection=pac-ret,
    -Wa,-march=armv8.5-a,
    -mstack-protector-guard=sysreg,
    -mstack-protector-guard-reg=sp_el0,
    -mstack-protector-guard-offset=1240,
    -fmacro-prefix-map=../=,
    -ftrivial-auto-var-init=zero,
    -fstrict-flex-arrays=3,
    -fno-allow-store-data-races,
    -fno-ipa-cp-clone,
    -fno-partial-inlining,
    -fconserve-stack
  ]
